@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
  user-select: none; /* 텍스트 선택 방지 */
}


.input_area {
  @apply mb-4 w-80;
}
.input_area > label {
  @apply block mb-2 text-lg font-semibold text-gray-900;
}
.input_area > input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}


.select_box {
  @apply h-11 w-24  bg-gray-50 border border-gray-300 rounded-lg p-2.5;
}

.btn {
  user-select: none;
  @apply px-4 py-2 shadow-lg rounded-lg hover:bg-gray-200 duration-100;
}
.table {
  user-select: none;
  @apply w-full text-lg text-left rtl:text-right;
}

.table-fixed th,
.table-fixed td {
    @apply border border-slate-300;
}
td {
  @apply p-3;
}
.td-btn {
  user-select: none;
  width: 10%;
  @apply text-center;
}
.td-text {
  user-select: none;
  width:40%;
  @apply text-center;
}
.off {
  @apply bg-slate-200 text-slate-400;
}
